#meme-image-container {
    width: 500px;
    height: 500px;
    background-color: white;
    position: relative;
}
#meme-image {
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
}
#meme-text {
  position: absolute;
  top: 420px;
  width: 100%;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

.body {
    background-color: bisque;
    text-align: center;
}

.borderBase {
  border: 1px solid black;
}

.button {
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    display: inline-block;
}

.border1 {
    border: 3px dashed red;
}

.border2 {
  border: 5px double blue;
}

.border3 {
  border: 6px groove green;
}

.main {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.input {
    margin: 10px;
}
